/*   color variables */
:root{
--clr-primary: #9dedff;
--clr-primary-hover: #8ad6ff;
--clr-primary-dark: #7bdff6;
--clr-primary-light: #c7f5ff;
--clr-gray100: #f0f7f8;
--clr-gray200: #cfd8dc;
--clr-gray300: #a7b7be;
--clr-gray400: #6b7e86;
--clr-gray500: #425a65;

/*   border radius */
--radius: 1rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.logo {
    width: 120px;
    cursor: pointer;
    float: left;
  }

body {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  background-color: #79ceff;
  background-image: linear-gradient(
    315deg,
    #F69F83 0%,
    #afe2e9 67%,
    #0086B0 100%
  );
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
  color: var(--clr-gray500);
}

.form {
  width: 24rem;
  padding: 2rem;
  border-radius: 1rem;
  background-color: white;
}

.form__title {
    margin-bottom: 0.5rem;
  }

  .form__description {
    margin-bottom: 1.5rem;
  }

  .form__group {
    position: relative;
    height: 3rem;
    margin-bottom: 1.5rem;
  }

  .form__input {
    width: 100%;
    height: 100%;
    border: 2px solid var(--clr-gray200);
    border-radius: 0.5rem;
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
    outline: none;
    padding: 1.25rem;
    background: none;
  }
    .form__input:hover {
      border-color: var(--clr-primary);
    }

    .form__input:focus {
      border-color: var(--clr-primary-dark);
    }
  

  .form__label {
    position: absolute;
    left: 1rem;
    top: 0.7rem;
    padding: 0 0.5rem;
    background-color: white;
    transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
  }

  .form__button {
    display: inline-block;
    margin-left: auto;
    padding: 0.75rem 2rem;
    background-color: var(--clr-primary);
    font-family: inherit;
    font-weight: inherit;
    border-radius: 0.5rem;
    outline: none;
    border: none;
    cursor: pointer;
    transition: background-color 200ms ease-in;
}

#sign-up {
    float: right;
}

    .form__button:hover {
      background-color: var(--clr-primary-dark);
      text-decoration: none;
      color: #000;
    }

button a {
    text-decoration: none;
    color: #000;
}

button a:hover {
    text-decoration: none;
    color: #000;
}

/* 
1. When the input is in the focus state
reduce the size of the label and move upwards 

2. Keep label state when content is in input field 
*/

.form__input:focus ~ .form__label,
.form__input:not(:placeholder-shown).form__input:not(:focus) ~ .form__label {
  top: -0.5rem;
  left: 0.8rem;
  font-size: 0.8rem;
}
