
.header{
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(./cheers3.jpg);
  background-size: cover;
  background-position: center;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 7%;
}

.logo {
  width: 120px;
  cursor: pointer;
}

.nav-links li {
  list-style: none;
  display: inline-block;
  margin: 10px 30px;
}

.nav-links li a {
  text-decoration: none;
  color: #fff;
}

.Location-btn {
  text-decoration: none;
  color: #fff;
}

.Account-btn {
  text-decoration: none;
  color: #000;
  background: #fff;
  padding: 8px 20px;
  border-radius: 10px;
  font-size: 14px;
}

/* Search Bar */
.container {
  padding: 0 7%;
}

.header h1 {
  font-size: 4vw;
  font-weight: 500px;
  color: #fff;
  text-align: center;
  padding-top: 17%;
}

.search-box {
  background: #fff;
  width: 70%;
  margin: 30px auto;
  padding: 6px 10px 6px 30px;
  border-radius: 50px;
}

.search-box form {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.search-box form input {
  display: block;
  border: 0;
  outline: none;
  background: transparent;
}

.search-box form label {
  margin-bottom: 4px;
}

.search-box form button {
  background: #f69f83;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: 0;
  outline: none;
  cursor: pointer;
}

.search-box form img {
  width: 30px;
  margin-top: 3px;
}

.location-input {
  flex: 1;
}

.when {
  margin-right: 160px;
}

.who {
  /* overflow: visible; */
  text-overflow: ellipsis;
  margin-right: 200px;
}

/* Events Section */
.Events {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 30px;
}

.Events div img {
  width: 100%;
  border-radius: 10px;
  filter: blur(2px);
  -webkit-filter: blur(2px);
}

.Events div {
  position: relative;
}

.Events div span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  /* background: rgba(0, 0, 0, 0.7); Black background with 0.5 opacity */
}

#arrow {
  width: 25px;
}

.Events div span h3 {
  font-size: 36px;
}

.Events div span p {
  font-size: 20px;
  cursor: pointer;
}

/* Browse by Category */
.Category {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 30px;
}

.browse-btn {
  width: 100%;
  border-radius: 5px;
  background-color: #f69f83;
  text-align: center;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  height: 4vh;
  color: #fff;
  padding-top: 4px;
  font-size: 24px;
}

/* Hot Spots Near You */
.trending {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 30px;
  margin-bottom: 30px;
}

#icon {
  width: 15px;
}

.trending div img {
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}

.trending h3 {
  font-weight: 600;
  margin-top: 10px;
  margin-left: 10px;
}

.trending p {
  margin-left: 10px;
}

.trending div {
  /* border: 1px #0086B0 solid; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}

footer {
  background-color: #0086B0;
  min-height: 150px;
}


/* Sign Up CSS */